body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Header */
header {
  background-color: #004c2d;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Conteúdo principal */
.content {
  padding: 20px;
}

.cabeca {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

#arrow {
  mix-blend-mode: multiply;
  width: 35px;
}

.topones {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#linha {
  width: 100%;
  height: 1px;
  background-color: #004c2d;
}

#luminaria {
  display: inline;
  color: #004c2d;
  font-size: 18px;
  font-weight: bold;
}

.ulstyles {
  list-style-type: "-";
}

#imagemPai {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#bottom {
  background-color: #004c2d;
  width: 70%;
  color: #f0f0f0;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 30px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom > p {
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-size: 80%;
}

#orientacoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Modal inicial escondido */
#imagem {
  width: 70%;
  border: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-style: solid;
  border-color: #004c2d;
  pointer-events: none;
}

.topo {
  font-weight: bold;
  font-size: 20px;
}

/* Estilos para os dropdowns */
.dropdown {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

/* Configuração inicial de altura para animação */
.dropdown-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  background-color: #f4f4f4;
  padding: 0 10px;
}

/* Classe para o dropdown aberto */
.dropdown.open .dropdown-content {
  max-height: 5000px; /* Altura máxima suficiente para expandir o conteúdo */
  opacity: 1;
  padding: 10px; /* Aplica o padding completo quando o dropdown estiver aberto */
}

/* Estilo da seta */
.dropdown button .arrow {
  transition: transform 0.3s ease;
}

.dropdown button {
  width: 100%;
  background-color: #004c2d;
  color: white;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown.open .arrow {
  transform: rotate(90deg);
}

/* Footer */
footer {
  background-color: #004c2d;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 60px;
}

/* Estilo para o container da barra de pesquisa */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 5px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo do campo de entrada de pesquisa */
.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  color: #333;
}

/* Estilo do botão com a lupa */
.search-container button {
  background-color: #004c2d;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo da lupa */
.search-container button img {
  width: 16px;
  height: 16px;
  filter: invert(1); /* Deixa a imagem da lupa branca */
}

/* Efeito de foco para o campo de entrada */
.search-container input[type="text"]:focus {
  background-color: #f0f0f0;
}

/* Estilo do splash screen */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004c2d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#splash-screen img {
  width: 150px;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

#modal {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escurecido */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

/* Estilo para a imagem no modal */
#modal img {
  width: 80%;
  border-radius: 10px;
}

/* Estilos responsivos para mobile */
@media (max-width: 600px) {
  header {
    font-size: 20px;
    padding: 15px;
    border-bottom-left-radius: 120%;
    border-bottom-right-radius: 120%;
  }

  .content {
    padding: 15px;
  }

  .dropdown button {
    font-size: 16px;
    padding: 8px;
  }

  footer {
    font-size: 14px;
    padding: 10px;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 5px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
